# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE specific
.idea
.idea_modules
.vscode
.settings

.cache/
.clwb/
bazel-bin
bazel-jetstore
bazel-out
bazel-testlogs
external
temp.h
build/
vscode_build/
bin
pkg
jetstore.egg-info
__pycache__
jets/compiler/test_data/lookup_loader_test_lookup.db
jets/compiler/test_data/lookup_loader_test.jr.json
jets/compiler/test_data/lookup_loader_test.jrc.json
jets/copytest/copytest
jets/loader/loader
jets/server/server
jets/loader/loader
jets/hello/hello
jets/copytest/copytest
jets/update_db/update_db
jets/server/test_data/scratch_pad.sql
jets/server/test_data/*.db
jets/server/test_data/*.jr.json
jets/server/test_data/*.jrc.json
jets/apiserver/apiserver
jets/jloader/jloader
jets/status_update/status_update
jets/run_reports/run_reports
jets/bridge/bridge.go
jets/awstest/awstest
jets/awssfntest/awssfntest
cdk/jetstore_one/jetstore_one
jets/compilerv2/compilerv2
jets/compilerv2/gpi_interchange_main.jrcc.json
jets/compilerv2/out.jrcc.json
jets/dbutils/tests/tests
jets/run_reports/test_data/test_data
jets/purge_database/purge_database
