# This workflow will build and push a the jetstore container image to Amazon ECR,
#

name: JetStore Image Build and Push to ECR


on: 
  workflow_dispatch:

# on:
#  push:
#    branches:
#      - main

env:
  AWS_REGION: us-east-1
  ECR_BASE_REPOSITORY: jetstore_base
  ECR_BUILDER_BASE_REPOSITORY: jetstore_base_builder
  ECR_REPOSITORY: jetstore

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Set the JetStore version as timestamp
      id: timestamp
      run: |
        echo "JETS_VERSION=$(date +%s)" >> $GITHUB_ENV

    - name: Use the value
      id: step_two
      run: |
        echo "**** JETS_VERSION is ${{ env.JETS_VERSION }}" # This will output the version

    - name: Build, tag, and push image to Amazon ECR
      id: build-push-image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        BASE_IMAGE_TAG: bullseye
        BASE_BUILDER_IMAGE_TAG: go-bullseye
        IMAGE_TAG: ${{ github.sha }}
        JETS_GIT_SHA: ${{ github.sha }}
      run: |
        # Pull & retag latest jetstore base image
        echo "**** JETS_VERSION is ${{ env.JETS_VERSION }}" # This will output the version
        docker pull $ECR_REGISTRY/$ECR_BASE_REPOSITORY:$BASE_IMAGE_TAG
        docker image tag $ECR_REGISTRY/$ECR_BASE_REPOSITORY:$BASE_IMAGE_TAG jetstore_base:bullseye
        # Pull & retag latest jetstore builder base image
        docker pull $ECR_REGISTRY/$ECR_BUILDER_BASE_REPOSITORY:$BASE_BUILDER_IMAGE_TAG
        docker image tag $ECR_REGISTRY/$ECR_BUILDER_BASE_REPOSITORY:$BASE_BUILDER_IMAGE_TAG jetstore_base_builder:go-bullseye
        # Build the builder image (where we actually make the jetstore build)
        docker build  -t jetstore_builder:go-bullseye -f Dockerfile.go_bullseye .
        # Build the runtime (rt) image
        echo "JETS_VERSION is ${{ env.JETS_VERSION }}" # This will output the version
        docker build --build-arg "JETS_VERSION=${{ env.JETS_VERSION }}" --build-arg "JETS_GIT_SHA=${JETS_GIT_SHA}" --tag "$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" --tag "$ECR_REGISTRY/$ECR_REPOSITORY:latest" --tag jetstore:bullseye -f Dockerfile.rt_bullseye .
        docker push "$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG"
        echo "{image}={$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG}" >> $GITHUB_OUTPUT
